{{ form_start(form, {'attr':{'novalidate': 'novalidate'} }) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

  {% block stylesheet_propio %}
        <link rel="stylesheet" href="/css/general.css" />
  {% endblock %}
  {% block javascript_propio %}
        <script src="{{asset('bundles/tetranzselect2entity/js/select2entity.js"}}></script>
  {% endblock %}
